@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
        <button id="start">start</button>
        <button id="stop">stop</button>
        <h2 id="result"></h2>
        <div id="div1">
        </div>
        <div id="div2">
            <h2>Same</h2>
        </div>

