
<h2>@ViewData["Title"]</h2>
<button id="getProduct" onclick="location.href='Products/Create';">新增產品</button>
<form action="Products/Create" method="post">
    <input type="submit" value="建立新產品"/>
</form>